<div class="row">
  <div class="alpha twelve columns">
    <%= f.field_container :redemption_code do %>
        <%= f.label :redemption_code, Spree.t('admin.gift_cards.redemption_code') %>
        <%= f.text_field :redemption_code, :class => 'form-control' %>
    <% end %>

    <div class="form-actions" data-hook="buttons">
      <%= f.button "<i class='fa fa-send'></i> #{Spree.t(:submit)}".html_safe, :id => 'contact_us_contact_submit', :type => :submit, :class => 'button large', data: {disable_with: "<i class='fa fa-refresh fa-spin'></i> #{Spree.t(:loading)}".html_safe } %>
    </div>

  </div>
</div>
